body
{
  padding-left: 10em;
  font-size: 1.6em;
  font-family: "COURIER", 'Verdana', arial;
  Times, serif;
  color: #C8A2C8;
  background-image: url("./resultado.jpg");
   }
ul.navbar {
 padding: 0;
 margin: 0;
 position: absolute;
 top: 1em;
 left: 1em;
 width: 3.5em }
h1 {
 font-family: "COURIER", 'Verdana', arial;
 SunSans-Regular, sans-serif }
ul.navbar li {
 background: #FFDB58;
 margin: 0.5em 0;
 padding: 0.3em;
 border-right: 0.3em solid #738678 }
ul.navbar a {
 text-decoration: none }
a:link {
 font-size: 1.2em;
 color: #F0FFFF }
a:visited {
 color: #78866B
}